<div th:fragment="courses-table" id="courses-table">
    <p>Liste des cours</p>
    <table class="table table-striped-columns table-bordered table-primary">
        <thead>
            <tr>
                <th scope="col">Sigle</th>
                <th scope="col">Titre</th>
                <th scope="col">Ects</th>
            </tr>
        </thead>
        <tbody th:if="${!courses.isEmpty}">
            <tr th:each="course : ${courses}">
                <td th:text="${course.id}" th:href="@{/course(courseId=${course.id})}"></td>
                <td><a th:text="${course.title}" th:href="@{/course(courseId=${course.id})}"></a></td>
                <td th:text="${course.credits}"></td>
            </tr>
        </tbody>
        <tbody th:unless="${!courses.isEmpty}">
            <tr>
                <td colspan="3">
                    Aucun cours
                </td>
            </tr>
        </tbody>
    </table>
</div>