<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header></header>
    <nav></nav>
    <main layout:fragment="content">

        <div id="courses-group">
            <div th:replace="~{fragments/courses-table.html::courses-table}">
                Error while replacing thymeleaf fragments
            </div>
            <div id="form-new-course">
                <p>Ajouter un cours</p>
                <form th:action="@{/newCourse}" th:object="${course}" method="post">
                    <div class="mb-3">
                        <label for="id" class="form-label">Sigle</label>
                        <input type="text" th:field="*{id}" class="form-control" id="id" aria-describedby="Sigle">
                        <span th:errors="*{id}" class="errorMsg">error: Invalid Input</span>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" th:field="*{title}" class="form-control" id="title">
                        <span th:errors="*{title}" class="errorMsg">error: Invalid Input</span>
                    </div>
                    <div class="mb-3">
                        <label for="credits" class="form-label">credits</label>
                        <input type="number" th:field="*{credits}" class="form-control" id="credits">
                        <span th:errors="*{credits}" class="errorMsg">error: Invalid Input</span>
                    </div>
                    <button type="submit" class="btn btn-primary">New Course</button>
                </form>
            </div>
        </div>

    </main>
</body>

</html>