<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header></header>
    <nav></nav>
    <main layout:fragment="content">

        <div id="courses-group">
            <div id="course-table">
                <p>Liste des cours</p>
                <table class="table table-striped-columns table-bordered table-primary">
                    <thead>
                        <tr>
                            <th scope="col">Sigle</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Ects</th>
                        </tr>
                    </thead>
                    <tbody th:if="${!courses.isEmpty}">
                        <tr th:each="course : ${courses}">
                            <td th:text="${course.id}" th:href="@{/course(courseId=${course.id})}"></td>
                            <td><a th:text="${course.title}" th:href="@{/course(courseId=${course.id})}"></a></td>
                            <td th:text="${course.credits}"></td>
                        </tr>
                    </tbody>
                    <tbody th:unless="${!courses.isEmpty}">
                        <tr>
                            <td colspan="3">
                                Aucun cours
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="form-add-course">
                <p>Ajouter un cours</p>
                <form th:action="@{/addCourse}" th:object="${course}" method="post">
                    <div class="mb-3">
                        <label for="id" class="form-label">Sigle</label>
                        <input type="text" th:field="*{id}" class="form-control" id="id" aria-describedby="Sigle">
                        <span th:errors="*{id}" class="errorMsg">error: Invalid Input</span>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" th:field="*{title}" class="form-control" id="title">
                        <span th:errors="*{title}" class="errorMsg">error: Invalid Input</span>
                    </div>
                    <div class="mb-3">
                        <label for="credits" class="form-label">credits</label>
                        <input type="number" th:field="*{credits}" class="form-control" id="credits">
                        <span th:errors="*{credits}" class="errorMsg">error: Invalid Input</span>
                    </div>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </form>
            </div>
        </div>

    </main>
</body>

</html>