<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header></header>
    <nav></nav>
    <main layout:fragment="content">
        <p th:text="|${course.id} - ${course.title}|"></p>
        <div th:replace="~{fragments/students-table.html::students-table}">
            Error while replacing thymeleaf fragments
        </div>

        <div id="form-add-student">
            <form th:action="@{/addStudent(courseId=${course.id})}" method="post">
                <!-- this spinner shows the students that exists in DB -->
                <!-- <select id="spinner" name="studentId" v-model="spinnerOption" @change="spinnerChange">
                    <option value="">Students...</option>
                    <option th:each="student : ${studentsList}" th:value="${student.id}"
                        th:text="${student.id} + ' - ' +${student.name}">
                        error fetch data
                    </option>
                </select> -->
                <input type="text" name="studentId" id="studentId">
                <button type="submit">Add Student</button>
            </form>
        </div>
    </main>
</body>

</html>