<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header></header>
    <nav></nav>
    <main layout:fragment="content">
        

        <div id="student-table">
            <p th:text="|${course.id} - ${course.title}|"></p>
            <table class="table table-striped-columns table-bordered table-primary">
                <thead>
                    <tr>
                        <th scope="col">Matricule</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Section</th>
                    </tr>
                </thead>
                <tbody th:if="${!students.isEmpty}">
                    <tr th:each="student : ${students}">
                        <td th:text="${student.id}"></td>
                        <td><a th:text="${student.name}" th:href="@{/student(studentId=${student.id})}"></a></td>
                        <td th:text="${student.gender}"></td>
                        <td th:text="${student.section}"></td>
                    </tr>
                </tbody>
                <tbody th:unless="${!students.isEmpty}">
                    <tr>
                        <td colspan="3">
                            Aucun Etudiant
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>