<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header></header>
    <nav></nav>
    <main layout:fragment="content">

        <div id="students-group">

            <div th:replace="~{fragments/students-table.html::students-table}">
                Error while replacing thymeleaf fragments
            </div>

            <div id="form-new-student">
                <p>Ajouter un etudiant</p>
                <form th:action="@{/newStudent}" th:object="${student}" method="post">
                    <div class="mb-3">Nom
                        <input type="text" th:field="*{name}" class="form-control" id="name" aria-describedby="Sigle">
                        <span th:errors="*{name}" class="errorMsg">error: Invalid Input</span>
                    </div>

                    <div>Genre:
                        <input type="radio" id="male" name="gender" value="MALE" th:field="*{gender}">
                        <label for="male">Homme</label>
                        <input type="radio" id="female" name="gender" value="FEMALE" th:field="*{gender}">
                        <label for="female">Femme</label><br>
                        <span th:errors="*{gender}" class="errorMsg">error: Invalid Input</span>
                    </div>

                    <div>Section:
                        <input type="radio" id="gestion" name="section" value="GESTION" th:field="*{section}">
                        <label for="gestion">Gestion</label>
                        <input type="radio" id="reseau" name="section" value="RESEAU" th:field="*{section}">
                        <label for="reseau">Reseau</label>
                        <input type="radio" id="industrielle" name="section" value="INDUSTRIELLE" th:field="*{section}">
                        <label for="industrielle">Industrielle</label>
                        <span th:errors="*{section}" class="errorMsg">error: Invalid Input</span>
                    </div>
                    <button type="submit" class="btn btn-primary">New Student</button>
                </form>
            </div>
        </div>

    </main>
</body>

</html>