<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header></header>
    <nav></nav>
    <main layout:fragment="content">

        <div id="students-group">
            <div id="student-table">
                <p>Liste des etudiants</p>
                <table class="table table-striped-columns table-bordered table-primary">
                    <thead>
                        <tr>
                            <th scope="col">Matricule</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Section</th>
                        </tr>
                    </thead>
                    <tbody th:if="${!students.isEmpty}">
                        <tr th:each="student : ${students}">
                            <td th:text="${student.id}"></td>
                            <td><a th:text="${student.name}" th:href="@{/student(studentId=${student.id})}"></a></td>
                            <td th:text="${student.gender}"></td>
                            <td th:text="${student.section}"></td>
                        </tr>
                    </tbody>
                    <tbody th:unless="${!students.isEmpty}">
                        <tr>
                            <td colspan="3">
                                Aucun cours
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="vertical-align"></div>
            <div id="form-add-student">
                <p>Ajouter un etudiant</p>
                <form th:action="@{/addStudent}" th:object="${student}" method="post">
                    <div class="mb-3">Nom
                        <input type="text" th:field="*{name}" class="form-control" id="name" aria-describedby="Sigle">
                        <span th:errors="*{name}" class="errorMsg">error: Invalid Input</span>
                    </div>


                    <div>Genre:
                        <input type="radio" id="male" name="gender" value="MALE" th:field="*{gender}">
                        <label for="male">Homme</label>
                        <input type="radio" id="female" name="gender" value="FEMALE" th:field="*{gender}">
                        <label for="female">Femme</label><br>
                        <span th:errors="*{gender}" class="errorMsg">error: Invalid Input</span>
                    </div>

                    <div>Section:
                        <input type="radio" id="gestion" name="section" value="GESTION" th:field="*{section}">
                        <label for="gestion">Gestion</label>
                        <input type="radio" id="reseau" name="section" value="RESEAU" th:field="*{section}">
                        <label for="reseau">Reseau</label>
                        <input type="radio" id="industrielle" name="section" value="INDUSTRIELLE" th:field="*{section}">
                        <label for="industrielle">Industrielle</label>
                        <span th:errors="*{section}" class="errorMsg">error: Invalid Input</span>
                    </div>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </form>
            </div>
        </div>

    </main>
</body>

</html>