<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header></header>
    <nav></nav>
    <main layout:fragment="content">

        <p th:text="${student.name}"></p>


        <div th:replace="~{fragments/courses-table.html::courses-table}">
            Error while replacing thymeleaf fragments
        </div>


        <div id="form-add-course">
            <form th:action="@{/addCourse(studentId=${student.id})}" method="post">
                <!-- <select id="spinner" name="courseId" v-model="spinnerOption" @change="spinnerChange">
                    <option value="">Choisissez un cours...</option>
                    <option th:each="course : ${coursesList}" th:value="${course.id}"
                        th:text="${course.id} + ' - ' +${course.title}">
                        error fetch data
                    </option>
                </select> -->
                <input type="text" name="courseId" id="courseId">
                <button type="submit">Add Course</button>
            </form>
        </div>

    </main>
</body>

</html>